/* General Styling */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.75;
    padding: 1rem;

    display: grid;
    place-content: center;
    min-height: 100vh;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subtitle {
    color: rgba(0, 0, 0, 0.75);
}

/* Styling the main content */
.container {
    min-height: 100vh;
}

/* .meal-wrapper,
.meal-search-box{
    min-width: ;
} */

.meal-wrapper {
    /* Sceptical */
    /* max-width: 1280px; */
    /* border: 1px solid black; */
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.meal-search {
    margin: 2rem 0 0.5rem;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    margin: 1.5rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.search-text,
.btn-search {
    width: min(100%, 30rem);
}

.search-text {
    padding: 0 1rem;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    font-size: 1.1rem;
    font-family: inherit;
    border: 1.5px solid rgb(0, 0, 0, 0.4);
    color: black;
    outline: 0;
}

.search-text:focus {
    /* border: 3px solid rgb(0, 0, 0, 0.2); */
    border: 2px solid var(--tenne-tawny);
}

.search-text:focus::placeholder {
    color: black;
}

.btn-search {
    width: 4rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: var(--tenne-tawny);
    color: white;
    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    transition: background-color 0.15s linear;
}

.btn-search:hover {
    background-color: var(--tenne-tawny-dark);
}

.btn-search:active {
    color: #000;
}

/* Try to give border on .search-text when .btn-search is active */

.meal-results {
    margin-top: 4rem;
    /* width: min(95%, 100rem); */
}

.meal {
    margin: 2rem 0;
}

.meal-item {
    border-radius: 1rem;
    width: 24rem;
    height: 32rem;
    overflow: hidden;
    box-shadow: 0 0 1.5rem -0.25rem rgba(0, 0, 0, 0.4);
}

.meal-img img {
    display: block;
    width: 100%;
    height: 23rem;
}

.meal-name {
    margin: 0.9rem auto;
    font-size: 1.3rem;
}

.meal-recipe {
    margin: 1.3rem auto;
}

.btn-recipe {
    text-decoration: none;
    padding: 0.5em 2rem;
    border-radius: 1.2rem;
    color: white;
    background-color: var(--tenne-tawny);
    font-size: 1.05rem;
    font-weight: 500;

    transition: background-color 0.15s linear, color 0.1s linear;
}

.btn-recipe:hover {
    background-color: var(--tenne-tawny-dark);
}

.btn-recipe:active {
    color: #000;
}

.grid-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
}